{% extends '../base/base.html' %}

{% load static %}

{% block content %}
    <div class="px-5 px-lg-20">
        <h1 class="mt-10 mt-lg-20 text-center fs-3x">Intec Alumni</h1>

        <h2 class="text-center mt-20">인천전자마이스터고 동문회에 오신 것을 환영합니다.</h2>
        <h2 class="text-center">안녕하세요. 인천전자마이스터고등학교 총동문회입니다.</h2>


        <h3 class="mt-20"> 안녕하세요. 인천전자마이스터고등학교 총동문회입니다.</h3>
        <h3 class="mt-10">인천전자마이스터고 총동문회는 졸업생들간의 커뮤니티 구축과 산학 관련 다양한 지원을 목적으로 설립하였으며,
            <br>인천전자마이스터고 총동문회의 주요 활동은 다음과 같습니다. </h3>

        <img class="mt-10 w-100" src="{% static 'images/intro.png' %}" alt="소개 사진">
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
