{% extends '../base/base.html' %}

{% load static %}

{% block content %}
    <div class="px-5 px-lg-20 py-10 py-lg-20">
        <div id="alumniIntro"><h1 style="text-align:center"><span style="color:#4e5f70"><span
                style="font-size:28px"><strong><span><big>Intec Alumni</big></span></strong></span></span><br>
            <span style="color:#7f8c8d">
                <span style="font-size:14px">인천전자마이스터고등학교 동문회에 오신 것을 환영합니다.</span>
            </span>
        </h1>
            <br>
            <hr>
            <br>
            <br>

            <div style="text-align:center"><strong><span style="font-size:20px">안녕하세요.<br>
인천전자마이스터고 총동문회입니다.</span></strong></div>

            <br>

            <div style="text-align:center">
                <div style="text-align:center">
                    <table align="center" border="0" cellpadding="1" cellspacing="1"
                           style="margin:0 auto; max-width:620px; width:100%; word-break:keep-all">
                        <tbody>
                        <tr>
                            <td><span
                                    style="font-size:16px">인천전자마이스터고 총동문회는 인마고 졸업생들간의 커뮤니티 구축과 산학관련 다양한 지원을 목적으로 합니다.</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>

            <div style="text-align:center"><br>
                <br>
                <strong><span style="color:#bdc3c7"><span style="font-size:26px"><span>01</span></span></span><br>
                    <span style="font-size:18px"><span><span
                            style="color:#2c3e50">동문 상호간의 친목 도모 및 회원의 복지증진</span></span></span><br>
                    <br>
                    <br>
                    <span style="color:#bdc3c7"><span style="font-size:26px"><span>02</span></span></span><br>
                    <span style="font-size:18px"><span><span
                            style="color:#2c3e50">자선사업 등을 통한 모교 발전 지원</span></span></span><br>
                    <br>
                    <br>
                    <span style="color:#bdc3c7"><span style="font-size:26px"><span>03</span></span></span><br>
                    <span style="font-size:18px"><span><span
                            style="color:#2c3e50">장학사업 등을 통한 모교 재학생 지원</span></span></span></strong><br>
                <br>
                &nbsp;
                <div>&nbsp;</div>

                <div style="text-align:center">&nbsp;</div>

                <hr>
            </div>

            <div><br>
                <br>
                &nbsp;
            </div>

        </div>

        <img class="mt-10 w-100" src="{% static 'images/intro.png' %}" alt="소개 사진">
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
