{% extends '../base/base.html' %}

{% load static %}

{% block content %}

    <div class="container-fluid text-center py-10 bg-light-info">
        <h1>공지사항</h1>
    </div>
    <div class="post" id="kt_post">
        <!--begin::Post card-->
        <div class="card">
            <!--begin::Body-->
            <div class="card-body px-lg-20 pb-lg-0">
                <!--begin::Layout-->
                <div class="d-flex flex-column flex-xl-row">
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid me-xl-15">
                        <!--begin::Post content-->
                        <div class="mb-17">
                            <!--begin::Wrapper-->
                            <div class="mb-8">
                                <!--begin::Title-->
                                <a href="#" class="text-dark text-hover-primary fs-1 fw-bolder">아이린으로 갑자기 위기 만났던
                                    레드벨벳…드디어 돌아온다</a>
                                <!--end::Title-->
                                <!--begin::Info-->
                                <div class="d-flex flex-wrap mb-6 border-bottom border-bottom-2 border-info py-3">
                                    <!--begin::Item-->
                                    <div class="me-9 my-1">
                                        <span class="fw-bolder text-gray-400"> 2021-12-09</span>
                                    </div>
                                    <div class="me-9 my-1">
                                        <span class="fw-bolder text-gray-400">관리자 </span>
                                    </div>
                                    <div class="my-1">
                                        <span class="fw-bolder text-gray-400">조회수 : 3594</span>
                                    </div>
                                    <!--end::Item-->
                                </div>
                                <!--end::Info-->
                                <!--begin::Container-->
                                <div class="overlay mt-8">
                                    <!--begin::Image-->
                                    <div class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-500px"
                                         style="background-image:url('https://cdnweb01.wikitree.co.kr/webdata/editor/202106/09/img_20210609155033_c171d5b1.webp')"></div>
                                    <!--end::Image-->
                                    <!--begin::Links-->
                                    <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                        <a href="#" class="btn btn-primary">About Us</a>
                                        <a href="#" class="btn btn-light-primary ms-3">Join Us</a>
                                    </div>
                                    <!--end::Links-->
                                </div>
                                <!--end::Container-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Description-->
                            <div class="fs-5 fw-bold text-gray-600">
                                <!--begin::Text-->
                                <p class="mb-8">그룹 '레드벨벳'이 완전체로 컴백할 예정이다.

                                    9일 헤럴드팝 기사에 따르면 ‘레드벨벳’은 8월 컴백을 목표로 앨범 준비를 하고 있다. 이는 지난 2019년 12월 리패키지앨범 'The ReVe
                                    Festival Finale'이후 약 1년 6개월 만이다.</p>


                                <p class="mb-8">앞서 '레드벨벳'은 지난 2019년 12월 25일 멤버인 웬디가 SBS 가요대전에서 리프트 추락으로 부상을 입자 유닛활동과 솔로
                                    활동을 이어왔다.
                                    아이린과 슬기는 유닛을 결성해 지난해 7월 6일 미니 1집 'Monster'를 발매했다.</p>

                                <p class="mb-8">웬디는 부상에서 복귀한 이후 지난 4월 솔로 앨범 'Like Water'를 발매했다. 조이는 지난달 31일 솔로 앨범
                                    'Hello'를 발매했다. 음악
                                    활동 외에도 슬기는 음악 콘텐츠 기업 '일일공일팔'과 함께 '슬기로운 음악대백과', 네이버NOW 오디오쇼 '슬기.zip' 메인 MC로 활동
                                    중이다.</p>

                                <p class="mb-8">아이린은 지난해 10월 15년 차 스타일리스트에게 갑질을 폭로 당한 후 사과문을 올린 후 자숙에 들어갔다. 당시 아이린은 "제
                                    나름대로 주변인들과 잘
                                    지낸다고 생각하면서 살았기 때문에 저의 소통 방식이나 표현이 문제가 될 수 있다는 것을 몰랐다"며 "소통의 방식은 저마다 다르다고만 생각했다"고
                                    사죄했다.</p>


                                <p class="mb-8">이어 "제 주변에는 저를 아껴주는 멤버들, 팬분들, 스태프분들이 있었고 그분들의 보살핌으로 그동안 별 탈 없이 활동할 수 있었음을
                                    깨달았다. 앞으로
                                    레드벨벳 리더로서, 인간 배주현으로서 여러분께 실망시켜드리지 않도록 노력하겠다"고 약속했다.</p>

                                <p class="mb-8">논란 이후 아이린은 영화 '더블패티'와 SM엔터테인먼트 합동 콘서트 ‘SMTOWN LIVE Culture Humanity’로
                                    복귀했다. 마지막으로
                                    예리는 유튜브 방송 '예리한방'과 tvN 단막극 '드라마 스테이지-민트컨디션'으로 연기 활동을 이어왔다.</p>

                            </div>
                            <!--end::Description-->
                        </div>
                        <!--end::Post content-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Layout-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Post card-->
    </div>

    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <span class="svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)"
                      fill="black"/>
                <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z"
                      fill="black"/>
            </svg>
        </span>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
