{% extends '../base/base.html' %}

{% load static %}

{% block content %}
    <div class="px-5 px-lg-20">
        <h1 class="mt-10 mt-lg-20 text-center fs-3x">회칙</h1>


        <h2 class="mt-10">1장 총칙</h2>
        <h3 class="my-5 fw-normal">제1조 내용내용내용</h3>
        <h2 class="mt-10">2장 회원</h2>
        <h3 class="my-5 fw-normal">제1조 내용내용내용</h3>
        <h2 class="mt-10">3장 임원</h2>
        <h3 class="my-5 fw-normal">제1조 내용내용내용</h3>
        <h2 class="mt-10">4장 회의</h2>
        <h3 class="my-5 fw-normal">제1조 내용내용내용</h3>
        <h2 class="mt-10">5장 기관(사무처)</h2>
        <h3 class="my-5 fw-normal">제1조 내용내용내용</h3>
        <h2 class="mt-10">6장 재정</h2>
        <h3 class="my-5 fw-normal">제1조 내용내용내용</h3>
        <h2 class="mt-10">7장 부칙</h2>
        <h3 class="my-5 fw-normal">제1조 내용내용내용</h3>
        <h4 class="my-20">※ 임원 선정 후 보완 예정</h4>
    </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
