{% extends '../base/base.html' %}

{% load static %}

{% block content %}
    <div class="px-5 px-lg-20 text-center">
        <h1 class="mt-10 mt-lg-20 fs-3x">모교소개</h1>

        <img class="mt-10 w-75" src="{% static 'images/school-intro1.png' %}" alt="소개 사진1">
        <img class="mt-10 w-75" src="{% static 'images/school-intro2.png' %}" alt="소개 사진2">
        <img class="mt-10 w-75" src="{% static 'images/school-intro3.png' %}" alt="소개 사진3">
        <img class="mt-10 w-75" src="{% static 'images/school-intro4.png' %}" alt="소개 사진4">
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
