{% load static %}
<div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-name="aside"
     data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
     data-kt-drawer-width="{default:'200px', '300px': '225px'}" data-kt-drawer-direction="start"
     data-kt-drawer-toggle="#kt_aside_toggle" data-kt-sticky="true" data-kt-sticky-name="aside-sticky"
     data-kt-sticky-offset="{default: false, lg: false}" data-kt-sticky-width="{lg: '225px'}" data-kt-sticky-left="auto"
     data-kt-sticky-top="94px" data-kt-sticky-animation="false" data-kt-sticky-zindex="95">
    <!--begin::Aside nav-->
    <div class="hover-scroll-overlay-y my-5 my-lg-5 w-100 ps-4 ps-lg-0 pe-4 me-1" id="kt_aside_menu_wrapper"
         data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto"
         data-kt-scroll-dependencies="#kt_header" data-kt-scroll-wrappers="#kt_aside" data-kt-scroll-offset="5px">
        <!--begin::Menu-->
        <div class="menu menu-column menu-active-bg menu-hover-bg menu-title-gray-700 fs-6 menu-rounded w-100"
             id="#kt_aside_menu" data-kt-menu="true">
            <!--begin::Heading-->
            <div class="menu-item">
                <div class="menu-content pb-2">
                    <span class="menu-section text-muted text-uppercase fs-7 fw-bolder">
                        {{ menu_title }}
                    </span>
                </div>
            </div>
            <!--end::Heading-->
            {% for menu in aside %}
                <div class="menu-item">
                    <a href="/{{ menu.0 }}"
                    {% if menu.0 == page %}
                    class="menu-link active"
                    {% else %}
                    class="menu-link"
                    {% endif %}
                    >
                        <span class="menu-title">{{ menu.1 }}</span>
                        <span class="menu-badge d-none">6,234</span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <!--end::Menu-->
    </div>
    <!--end::Aside nav-->
</div>