{% load static %}

<title>인천전자마이스터고 동문회</title>
<meta charset="utf-8"/>
<meta name="description"
      content="인천전자마이스터고등학교 동문회"/>
<meta name="keywords" content="인천전자마이스터고등학교 동문회, 인마고 동문회"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="인천전자마이스터고등학교 동문회"/>
<meta property="og:url" content="https://naver.com"/>
<meta property="og:site_name" content="인천전자마이스터고등학교 동문회"/>
<link rel="canonical" href="https://naver.com"/>
<link rel="shortcut icon" href="{% static 'assets/media/logos/favicon.ico' %}?v={{ version }}"/>
<!--begin::Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet">
<!--end::Fonts-->

<!--begin::Page Vendor Stylesheets(used by this page)-->
<link href="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}?v={{ version }}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}?v={{ version }}" rel="stylesheet"
      type="text/css"/>
<!--end::Page Vendor Stylesheets-->

<!--begin::Global Stylesheets Bundle(used by all pages)-->
<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}?v={{ version }}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/style.bundle.css' %}?v={{ version }}" rel="stylesheet" type="text/css"/>
<!--end::Global Stylesheets Bundle-->