{% load static %}
<script>var hostUrl = "assets/";</script>
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}?v={{version}}"></script>
<script src="{% static 'assets/js/scripts.bundle.js' %}?v={{version}}"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Page Vendors Javascript(used by this page)-->
<script src="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}?v={{version}}"></script>
<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}?v={{version}}"></script>
<!--end::Page Vendors Javascript-->