{% load static %}
<div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch"
     id="#kt_header_menu" data-kt-menu="true">
    <div data-kt-menu-trigger="{default:'click', 'lg': 'hover'}" data-kt-menu-placement="bottom-start"
         class="menu-item here show menu-lg-down-accordion me-lg-1">
        <span class="menu-link py-3">
            <span class="menu-title">동문회 소개</span>
            <span class="menu-arrow d-lg-none"></span>
        </span>
        <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px">
            <div class="menu-item">
                <a class="menu-link active py-3" href="../../demo5/dist/index.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">소개</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/dashboards/ecommerce.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">조직도</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/dashboards/store-analytics.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">회칙</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/dashboards/logistics.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">모교소개</span>
                </a>
            </div>
        </div>
    </div>
    <div data-kt-menu-trigger="{default:'click', 'lg': 'hover'}" data-kt-menu-placement="bottom-start"
         class="menu-item menu-lg-down-accordion me-lg-1">
        <span class="menu-link py-3">
            <span class="menu-title">동문회비</span>
            <span class="menu-arrow d-lg-none"></span>
        </span>
        <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px">
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/index.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">회비 안내</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/dashboards/ecommerce.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">후원금 납부</span>
                </a>
            </div>
        </div>
    </div>
    <div data-kt-menu-trigger="{default:'click', 'lg': 'hover'}" data-kt-menu-placement="bottom-start"
         class="menu-item menu-lg-down-accordion me-lg-1">
        <span class="menu-link py-3">
            <span class="menu-title">동문회 소식</span>
            <span class="menu-arrow d-lg-none"></span>
        </span>
        <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px">
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/index.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">공지사항</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/dashboards/ecommerce.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">회보</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/dashboards/ecommerce.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">교우 소식</span>
                </a>
            </div>
        </div>
    </div>

    <div data-kt-menu-trigger="{default:'click', 'lg': 'hover'}" data-kt-menu-placement="bottom-start"
         class="menu-item menu-lg-down-accordion me-lg-1">
        <span class="menu-link py-3">
            <span class="menu-title">커뮤니티</span>
            <span class="menu-arrow d-lg-none"></span>
        </span>
        <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px">
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/index.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">기업정보 공유</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/dashboards/ecommerce.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">채용정보 공유</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/dashboards/ecommerce.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">기수별 모임</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/dashboards/ecommerce.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">소모임</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/dashboards/ecommerce.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">자유게시판</span>
                </a>
            </div>
            <div class="menu-item">
                <a class="menu-link py-3" href="../../demo5/dist/dashboards/ecommerce.html">
                    <span class="menu-bullet">
                        <span class="bullet bullet-dot"></span>
                    </span>
                    <span class="menu-title">임원 게시판</span>
                </a>
            </div>
        </div>
    </div>
    <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start"
         class="menu-item menu-lg-down-accordion me-lg-1">
        <span class="menu-link py-3">
            <span class="menu-title">온라인 문의</span>
            <span class="menu-arrow d-lg-none"></span>
        </span>
    </div>
</div>